.app__navbar{
    background-color: var(--color-black);
    display: flex;
    padding: 0.5rem 3rem;
    align-items: left;
    justify-content: space-between;
  
    align-items: center;
}

.app__navbar-logo img{
    width: 150px;
  
}

.app__navbar-items{
    display: flex;
    flex: 1;
    justify-content: center;

}

.app__navbar-items ul{
    margin: 0.5rem;
    list-style-type: none;
}
.app__navbar-items ul li{
    text-transform: capitalize;
}

.app__navbar-items a:hover{
    color: var(--color-grey);
}